<table ngGrid class="basic-data-table">
  <thead>
    <tr ngGridRow>
      <th ngGridCell>

      </th>
      <th ngGridCell>
        Name
      </th>
      <th ngGridCell>Model</th>
      <th ngGridCell>Manufacturer</th>
      <th ngGridCell>Crew</th>
      <th ngGridCell>Passengers</th>
      <th ngGridCell>Hyperdrive Rating</th>
      <th ngGridCell>Cargo Capacity</th>
      <th ngGridCell>Consumables</th>
    </tr>
  </thead>
  <tbody>
    @if (starshipsService.error$ | async; as err) {
      <p style="color:red">Error: {{ err }}</p>
    }
    @for (starship of (starshipsService.starships$ | async) ?? []; track starship.name) {
    <tr ngGridRow>
      <td ngGridCell>

      </td>
      <td ngGridCell>{{ starship.name }}</td>
      <td ngGridCell>{{ starship.model }}</td>
      <td ngGridCell>{{ starship.manufacturer }}</td>
      <td ngGridCell>{{ starship.crew }}</td>
      <td ngGridCell>{{ starship.passengers }}</td>
      <td ngGridCell>{{ starship.hyperdrive_rating }}</td>
      <td ngGridCell>{{ starship.cargo_capacity }}</td>
      <td ngGridCell>{{ starship.consumables }}</td>
    </tr>
    }
  </tbody>
  <div #bottom style="height: 1px;"></div>
</table>
